<!--
    type Sudoku struct {
        Id    string
        Board [9][9]int // 0: empy, 1-9: number
        Flag  [9][9]int // 0: not set, 1: set by user, 2: set by program
    }

    input: Sudoku
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku {{.Id}}</title>
</head>
<body>
    <h1>Sudoku {{.Id}}</h1>
    <table>
        {{range $i, $row := .Board}}
        <tr>
            {{range $j, $cell := $row}}
            <td>
                {{if eq $cell 0}}
                <input type="text" name="cell-{{$i}}-{{$j}}" size="1">
                {{else}}
                {{$cell}}
                {{end}}
            </td>
            {{end}}
        </tr>
        {{end}}
</body>
</html>